/* Sticky footer */
html, body, #__next {
  height: 100%;
}
#__next {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.navbar, footer {
  flex-shrink: 0;
}

/* Reset font weights */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Styling */
body {
  color: #fff;
  background-color: #000;
}
.user-card .card {
  background-color: transparent;
}
.__text-yellow {
  color: #fcc803;
}
.__onhover-text-yellow:hover {
  color: #fcc803 !important;
}

/* User card filters */
.has-filter {
  position: relative;
}
.has-filter .img-filter {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.has-filter:hover .img-filter {
  display: block;
}